{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}


<div class="well">
{{ form_start(entryForm, { 'attr': {'class': 'form-horizontal'} }) }}

    <div class="form-group">
        {{ form_label(entryForm.name, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(entryForm.name) }}
            {{ form_widget(entryForm.name, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(entryForm.url, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(entryForm.url) }}
            {{ form_widget(entryForm.url, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(entryForm.content, null, { 'label_attr':  {
            'class': 'col-sm-3 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(entryForm.content) }}
            {{ form_widget(entryForm.content, { 'attr':  {
                'class': 'form-control',
                'rows': '15'                
            }}) }}
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </div>
    </div>
{{ form_end(entryForm) }}
</div>
{% endblock %}